:root {
    /* --high: #ef5a69; */
    --light: #B1B1B1;
    --dark1: #0A0708;
    --dark2: #444444;
    /* --high2: #6200ff; */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: linear-gradient(120deg, var(--dark2), var(--dark1));
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 3vh;

}

.profile img {
    border-radius: 50%;
    height: 20vh;
    width: 20vh;
    border: 5px solid var(--light);
    box-shadow: 0px 0px 10px 0px var(--light);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.details {
    text-align: left;
    margin-top: 8vh;
    height: 70vh;
    width: 80vw;
    border-radius: 30px;
    background-color: var(--light);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0px 0px 25px 0px var(--dark1);
    /* padding: 4vh 0; */
}

.dblks {
    margin: 2vh 12vw;
}

.inp {
    width: 60vw;
    height: 6vh;
    border-radius: 20px;
    padding: 10px 10px;
    font-size: 1rem;
}

.lbl {
    font-size: 1.2rem;
    margin-left: 2vw;
    font-weight: 600;
}

#credsub {
    width: 55vw;
    height: 7vh;
    border-radius: 20px;
    background: rgb(1, 21, 24);
    box-shadow: 0px 0px 10px 0px var(--dark1);
    font-size: 1.6rem;
    color: whitesmoke;
    /* margin-left: 18vw; */
}

#logout {
    width: 55vw;
    height: 7vh;
    border-radius: 20px;
    background: rgb(1, 21, 24);
    box-shadow: 0px 0px 10px 0px var(--dark1);
    font-size: 1.6rem;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-left: 18vw; */
}