:root {
  /* --high: #ef5a69; */
  --light: #B1B1B1;
  --dark1: #0A0708;
  --dark2: #444444;
  /* --high2: #6200ff; */
}

* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

body {
  background: linear-gradient(120deg, var(--dark2), var(--dark1));
}

.title {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  color: rgba(255, 255, 255, 0.812);
  /* margin-top: 10vh; */
  margin-bottom: 2vh;
}


#container {

  margin-top: 5vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}


th {
  color: black;
  padding: 2px;
}

table,
tr,
th,
td {
  border: 10px solid transparent;
  border-collapse: collapse;
  text-align: center;
  border-radius: 5px;
}

table {
  width: 100%;
  margin-top: 3 vw;
}

td {
  color: whitesmoke;
  font-weight: 600;
  padding: 3px;
  vertical-align: middle;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

th {
  background-color: rgba(255, 255, 255, 0.812);
  padding: 3px;
}

tr {
  background-color: var(--dark1);
  height: 30px;
  padding: 3px;
}

#tables {
  margin-top: 5vh
}

h1 {
  font-size: 2.5rem;
}

/* CSS for Pie chart */

@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

* {
  box-sizing: border-box;
}



.expenditure_graphics {
  background-color: rgba(255, 255, 255, 0.812);
  border-radius: 10px;
  width: 95vw;
  height: 40vh;

  display: flex;
  align-items: center;
  justify-content: center;

  /* width: 740px; */
}



/* @media all and (max-width: 780px) {
  .expenditure_graphics {
    width: auto;
  }
}

@media all and (max-width: 400px) {
  .expenditure_graphics {
    padding: 0px 10px;
  }
} */